force-app/main/default/flows/F_Asignar_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>EntitlementId</name>
        <label>EntitlementId</label>
        <locationX>389</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId2</name>
        <label>EntitlementId</label>
        <locationX>677</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId3</name>
        <label>EntitlementId</label>
        <locationX>956</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId4</name>
        <label>EntitlementId</label>
        <locationX>1205</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId5</name>
        <label>EntitlementId</label>
        <locationX>1435</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement5.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId6</name>
        <label>EntitlementId</label>
        <locationX>1670</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement6.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId7</name>
        <label>EntitlementId</label>
        <locationX>1906</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement7.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId8</name>
        <label>EntitlementId</label>
        <locationX>2146</locationX>
        <locationY>1366</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement8.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId9</name>
        <label>EntitlementId</label>
        <locationX>2403</locationX>
        <locationY>1446</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement9.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Entitlement</name>
        <label>¿Existe Entitlement?</label>
        <locationX>382</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement2</name>
        <label>¿Existe Entitlement?</label>
        <locationX>668</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement3</name>
        <label>¿Existe Entitlement?</label>
        <locationX>948</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId3</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement4</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1198</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement4.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId4</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement5</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1427</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement5.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId5</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement6</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1665</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement6.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId6</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement7</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1897</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement7.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId7</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement8</name>
        <label>¿Existe Entitlement?</label>
        <locationX>2138</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement8.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId8</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement9</name>
        <label>¿Existe Entitlement?</label>
        <locationX>2393</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement9.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId9</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_RecordType</name>
        <label>¿Existe RecordType?</label>
        <locationX>671</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualizacion_Informacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion_informacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Actualizacion_de_informacion_SAC</targetReference>
            </connector>
            <label>Actualización de Información</label>
        </rules>
        <rules>
            <name>Cambio_Subproducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio_Subproducto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Cambio_de_subproducto_SAC</targetReference>
            </connector>
            <label>Cambio de Subproducto</label>
        </rules>
        <rules>
            <name>Constancias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Constancia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Constancias_SAC</targetReference>
            </connector>
            <label>Constancias</label>
        </rules>
        <rules>
            <name>Estados_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estados_Cuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Estados_de_cuenta_SAC</targetReference>
            </connector>
            <label>Estados de Cuenta</label>
        </rules>
        <rules>
            <name>Modificacion_aportes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aumento_Disminucion_Aportes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Modificacion_de_aportes_SAC</targetReference>
            </connector>
            <label>Modificación de aportes</label>
        </rules>
        <rules>
            <name>Otros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Otros_SAC</targetReference>
            </connector>
            <label>Otros</label>
        </rules>
        <rules>
            <name>Reposicion_Carnet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reposicion_Carnet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Reposicion_de_carnet_SAC</targetReference>
            </connector>
            <label>Reposición de Carnet</label>
        </rules>
        <rules>
            <name>Retiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Retiros_SAC</targetReference>
            </connector>
            <label>Retiros</label>
        </rules>
        <rules>
            <name>Reversiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Reversiones_SAC</targetReference>
            </connector>
            <label>Reversiones</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F_Asignar_Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F_Asignar_Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Casos_de_Actualizacion_de_informacion_SAC</name>
        <label>Casos de Actualización de información / SAC</label>
        <locationX>390</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Actualización de información / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Cambio_de_subproducto_SAC</name>
        <label>Casos de Cambio de subproducto / SAC</label>
        <locationX>676</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Cambio de subproducto / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Constancias_SAC</name>
        <label>Casos de Constancias / SAC</label>
        <locationX>956</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Constancias / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement3</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Estados_de_cuenta_SAC</name>
        <label>Casos de Estados de cuenta / SAC</label>
        <locationX>1206</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Estados de cuenta / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement4</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Modificacion_de_aportes_SAC</name>
        <label>Casos de Modificación de aportes / SAC</label>
        <locationX>1435</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Modificación de aportes / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement5</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Otros_SAC</name>
        <label>Casos de Otros / SAC</label>
        <locationX>1673</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Otros / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement6</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Reposicion_de_carnet_SAC</name>
        <label>Casos de Reposición de carnet / SAC</label>
        <locationX>1905</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Reposición de carnet / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement7</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Retiros_SAC</name>
        <label>Casos de Retiros / SAC</label>
        <locationX>2146</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Retiros / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement8</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Reversiones_SAC</name>
        <label>Casos de Reversiones / SAC</label>
        <locationX>2402</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Reversiones / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement9</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_RecordType_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caso</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordType_Name</name>
        <label>Obtener RecordType Name</label>
        <locationX>531</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Caso</name>
        <label>Actualizar Caso</label>
        <locationX>677</locationX>
        <locationY>1205</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>IdEntitlement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
