force-app/main/default/flows/F_Asignacion_Automa_tica_de_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>F_Formulario_Enviado</name>
        <label>F_Formulario_Enviado</label>
        <locationX>1495</locationX>
        <locationY>47</locationY>
        <actionName>Lead.F_Formulario_Enviado</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignaciones_Lead</name>
        <label>Asignaciones Lead</label>
        <locationX>1328</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.F_Esta_asignado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Usuario</name>
        <label>Guardar Usuario</label>
        <locationX>913</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>User</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.F_Usuario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadsAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.F_Cantidad_Asignada__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementar_Asignacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Asignacion</name>
        <label>Incrementar Asignación</label>
        <locationX>1155</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadsAsignados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Asignacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existen_Usuarios</name>
        <label>¿Existen Usuarios?</label>
        <locationX>711</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaUsuarios</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Listado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hondurenios_USA</name>
        <label>¿Hondureños USA?</label>
        <locationX>358</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Lead.F_Hon_USA_Link_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.F_Hon_USA_PCCA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.F_Esta_asignado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Usuarios</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>F_Asignación Automática de Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F_Asignación Automática de Lead</label>
    <loops>
        <name>Recorrer_Listado</name>
        <label>Recorrer Listado</label>
        <locationX>904</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>GetUsers</assignNextValueToReference>
        <collectionReference>ListaUsuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_Usuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Incrementar_Asignacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Usuarios</name>
        <label>Buscar Usuarios</label>
        <locationX>549</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_Usuario_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Configuracion_de_Asignacion__c</object>
        <outputReference>ListaUsuarios</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>F_Usuario__c</queriedFields>
        <queriedFields>F_Cantidad_Asignada__c</queriedFields>
        <sortField>F_Cantidad_Asignada__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lead</name>
        <label>Obtener Lead</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hondurenios_USA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>F_Hon_USA_Link_Ref__c</queriedFields>
        <queriedFields>F_Hon_USA_PCCA__c</queriedFields>
        <queriedFields>F_Esta_asignado__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Asignacion</name>
        <label>Actualizar Asignación</label>
        <locationX>1163</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Asignaciones_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUsers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>F_Cantidad_Asignada__c</field>
            <value>
                <elementReference>CantidadLeadAsignados</elementReference>
            </value>
        </inputAssignments>
        <object>Configuracion_de_Asignacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Lead</name>
        <label>Actualizar Lead</label>
        <locationX>1328</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>F_Formulario_Enviado</targetReference>
        </connector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CantidadLeadAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GetUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Configuracion_de_Asignacion__c</objectType>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadsAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaUsuarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Configuracion_de_Asignacion__c</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
