force-app/main/default/flows/F_Devolucion_1_Caso_Sac_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contar_ProcessInstance</name>
        <label>Contar ProcessInstance</label>
        <locationX>471</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Conteo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_ProcessInstance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId</name>
        <label>EntitlementId</label>
        <locationX>185</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId2</name>
        <label>EntitlementId</label>
        <locationX>473</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId3</name>
        <label>EntitlementId</label>
        <locationX>752</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId4</name>
        <label>EntitlementId</label>
        <locationX>1001</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId5</name>
        <label>EntitlementId</label>
        <locationX>1231</locationX>
        <locationY>1399</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement5.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId6</name>
        <label>EntitlementId</label>
        <locationX>1466</locationX>
        <locationY>1473</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement6.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId7</name>
        <label>EntitlementId</label>
        <locationX>1702</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement7.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId8</name>
        <label>EntitlementId</label>
        <locationX>1942</locationX>
        <locationY>1629</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement8.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId9</name>
        <label>EntitlementId</label>
        <locationX>2199</locationX>
        <locationY>1709</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement9.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Entitlement</name>
        <label>¿Existe Entitlement?</label>
        <locationX>178</locationX>
        <locationY>920</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement2</name>
        <label>¿Existe Entitlement?</label>
        <locationX>464</locationX>
        <locationY>920</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement3</name>
        <label>¿Existe Entitlement?</label>
        <locationX>744</locationX>
        <locationY>921</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId3</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement4</name>
        <label>¿Existe Entitlement?</label>
        <locationX>994</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement4.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId4</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement5</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1223</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement5.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId5</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement6</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1461</locationX>
        <locationY>927</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement6.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId6</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement7</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1693</locationX>
        <locationY>927</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement7.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId7</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement8</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1934</locationX>
        <locationY>927</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement8.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId8</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement9</name>
        <label>¿Existe Entitlement?</label>
        <locationX>2189</locationX>
        <locationY>929</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement9.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId9</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Instancia_del_Proceso</name>
        <label>¿Existe Instancia del Proceso?</label>
        <locationX>716</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conteo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_RecordType_Name</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_RecordType</name>
        <label>¿Existe RecordType?</label>
        <locationX>467</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualizacion_Informacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion_informacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Actualizacion_de_informacion_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Actualización de Información</label>
        </rules>
        <rules>
            <name>Cambio_Subproducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio_Subproducto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Cambio_de_subproducto_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Cambio de Subproducto</label>
        </rules>
        <rules>
            <name>Constancias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Constancia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Constancias_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Constancias</label>
        </rules>
        <rules>
            <name>Estados_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estados_Cuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Estados_de_cuenta_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Estados de Cuenta</label>
        </rules>
        <rules>
            <name>Modificacion_aportes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aumento_Disminucion_Aportes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Modificacion_de_aportes_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Modificación de aportes</label>
        </rules>
        <rules>
            <name>Otros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Otros_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Otros</label>
        </rules>
        <rules>
            <name>Reposicion_Carnet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reposicion_Carnet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Reposicion_de_carnet_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Reposición de Carnet</label>
        </rules>
        <rules>
            <name>Retiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Retiros_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Retiros</label>
        </rules>
        <rules>
            <name>Reversiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Reversiones_Devolucion_1_SAC</targetReference>
            </connector>
            <label>Reversiones</label>
        </rules>
    </decisions>
    <interviewLabel>F_Asignar_Entitlement2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F_Devolución_1_Caso_Sac_Entitlement</label>
    <loops>
        <name>Recorrer_ProcessInstance</name>
        <label>Recorrer ProcessInstance</label>
        <locationX>471</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>ProcessInstance</assignNextValueToReference>
        <collectionReference>ProcessInstanceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contar_ProcessInstance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existe_Instancia_del_Proceso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Casos_de_Actualizacion_de_informacion_Devolucion_1_SAC</name>
        <label>Casos de Actualización de información Devolución 1 / SAC</label>
        <locationX>186</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Actualización de información Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Cambio_de_subproducto_Devolucion_1_SAC</name>
        <label>Casos de Cambio de subproducto Devolución 1 / SAC</label>
        <locationX>472</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Cambio de subproducto Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Constancias_Devolucion_1_SAC</name>
        <label>Casos de Constancias Devolución 1 / SAC</label>
        <locationX>752</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Constancias Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement3</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Estados_de_cuenta_Devolucion_1_SAC</name>
        <label>Casos de Estados de cuenta Devolución 1 / SAC</label>
        <locationX>1002</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Estados de cuenta Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement4</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Modificacion_de_aportes_Devolucion_1_SAC</name>
        <label>Casos de Modificación de aportes Devolución 1 / SAC</label>
        <locationX>1231</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Modificación de aportes Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement5</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Otros_Devolucion_1_SAC</name>
        <label>Casos de Otros Devolución 1 / SAC</label>
        <locationX>1469</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Otros Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement6</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Reposicion_de_carnet_Devolucion_1_SAC</name>
        <label>Casos de Reposición de carnet Devolución 1 / SAC</label>
        <locationX>1701</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Reposición de carnet Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement7</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Retiros_Devolucion_1_SAC</name>
        <label>Casos de Retiros Devolución 1 / SAC</label>
        <locationX>1942</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Retiros Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement8</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Reversiones_Devolucion_1_SAC</name>
        <label>Casos de Reversiones Devolución 1 / SAC</label>
        <locationX>2198</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Reversiones Devolución 1 / SAC</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement9</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Instancia_del_Proceso</name>
        <label>Instancia del Proceso</label>
        <locationX>327</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_ProcessInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>ProcessInstanceRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>186</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Instancia_del_Proceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caso</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordType_Name</name>
        <label>Obtener RecordType Name</label>
        <locationX>1115</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Caso</name>
        <label>Actualizar Caso</label>
        <locationX>473</locationX>
        <locationY>1468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>IdEntitlement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Obtener_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Conteo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Entitlement9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>ProcessInstanceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
