force-app/main/default/flows/F_Reasignar_Aprobacion_3_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contar_ProcessInstance</name>
        <label>Contar ProcessInstance</label>
        <locationX>367</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>Conteo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_ProcessInstance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId</name>
        <label>EntitlementId</label>
        <locationX>183</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementActInf.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId2</name>
        <label>EntitlementId</label>
        <locationX>610</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementCambioSP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId3</name>
        <label>EntitlementId</label>
        <locationX>890</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementConst.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId4</name>
        <label>EntitlementId</label>
        <locationX>1170</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementModif.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId5</name>
        <label>EntitlementId</label>
        <locationX>1601</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementRetiros.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntitlementId6</name>
        <label>EntitlementId</label>
        <locationX>1917</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>IdEntitlement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementRever.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Entitlement</name>
        <label>¿Existe Entitlement?</label>
        <locationX>177</locationX>
        <locationY>577</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementActInf.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement2</name>
        <label>¿Existe Entitlement?</label>
        <locationX>601</locationX>
        <locationY>578</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementCambioSP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId2</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement3</name>
        <label>¿Existe Entitlement?</label>
        <locationX>882</locationX>
        <locationY>579</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementConst.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId3</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement4</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1162</locationX>
        <locationY>581</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementModif.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId4</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement5</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1594</locationX>
        <locationY>583</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementRetiros.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId5</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Entitlement6</name>
        <label>¿Existe Entitlement?</label>
        <locationX>1909</locationX>
        <locationY>584</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntitlementRever.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntitlementId6</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Instancia_del_Proceso</name>
        <label>¿Existe Instancia del Proceso?</label>
        <locationX>771</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conteo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_RecordType_Name</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_RecordType</name>
        <label>¿Existe RecordType?</label>
        <locationX>883</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualizacion_de_Informacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion_informacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Actualizacion_de_informacion_Campos_Criticos_Operaciones_Tercera_Aproba</targetReference>
            </connector>
            <label>Actualización de Información</label>
        </rules>
        <rules>
            <name>Cambio_de_Subproducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio_Subproducto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Cambio_de_subproducto_Subgerencia_SAC_Tercera_Aprobacion</targetReference>
            </connector>
            <label>Cambio de Subproducto</label>
        </rules>
        <rules>
            <name>Constancias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Constancia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Constancias_Subgerencia_SAC_Tercera_Aprobacion</targetReference>
            </connector>
            <label>Constancias</label>
        </rules>
        <rules>
            <name>Modificacion_de_aportes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aumento_Disminucion_Aportes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Modificacion_de_aportes_Operaciones_Tercera_Aprobacion</targetReference>
            </connector>
            <label>Modificación de aportes</label>
        </rules>
        <rules>
            <name>Retiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Retiros_Operaciones_Tercera_Aprobacion</targetReference>
            </connector>
            <label>Retiros</label>
        </rules>
        <rules>
            <name>Reversiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reversiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casos_de_Reversiones_Operaciones_Tercera_Aprobacion</targetReference>
            </connector>
            <label>Reversiones</label>
        </rules>
    </decisions>
    <interviewLabel>F_Reasignar_Aprobación_3_Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F_Reasignar_Aprobación_3_Entitlement</label>
    <loops>
        <name>Recorrer_ProcessInstance</name>
        <label>Recorrer ProcessInstance</label>
        <locationX>476</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>ProcessInstance</assignNextValueToReference>
        <collectionReference>ProcessInstanceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contar_ProcessInstance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existe_Instancia_del_Proceso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Casos_de_Actualizacion_de_informacion_Campos_Criticos_Operaciones_Tercera_Aproba</name>
        <label>Casos de Actualización de información / Campos Críticos Operaciones - Tercera Aprobación</label>
        <locationX>185</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Actualización de información / Campos Críticos Operaciones - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementActInf</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Cambio_de_subproducto_Subgerencia_SAC_Tercera_Aprobacion</name>
        <label>Casos de Cambio de subproducto / Subgerencia SAC - Tercera Aprobación</label>
        <locationX>609</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Cambio de subproducto / Subgerencia SAC - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementCambioSP</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Constancias_Subgerencia_SAC_Tercera_Aprobacion</name>
        <label>Casos de Constancias / Subgerencia SAC - Tercera Aprobación</label>
        <locationX>890</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Constancias / Subgerencia SAC - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementConst</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Modificacion_de_aportes_Operaciones_Tercera_Aprobacion</name>
        <label>Casos de Modificación de aportes / Operaciones - Tercera Aprobación</label>
        <locationX>1170</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Modificación de aportes / Operaciones - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementModif</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Retiros_Operaciones_Tercera_Aprobacion</name>
        <label>Casos de Retiros / Operaciones - Tercera Aprobación</label>
        <locationX>1602</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Retiros / Operaciones - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementRetiros</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Casos_de_Reversiones_Operaciones_Tercera_Aprobacion</name>
        <label>Casos de Reversiones / Operaciones - Tercera Aprobación</label>
        <locationX>1917</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Entitlement6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Casos de Reversiones / Operaciones - Tercera Aprobación</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>EntitlementRever</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Instancia_del_Proceso</name>
        <label>Instancia del Proceso</label>
        <locationX>330</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_ProcessInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>ProcessInstanceRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Caso</name>
        <label>Obtener Caso</label>
        <locationX>187</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Instancia_del_Proceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caso</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RecordType_Name</name>
        <label>Obtener RecordType Name</label>
        <locationX>1078</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Caso</name>
        <label>Actualizar Caso</label>
        <locationX>890</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>IdEntitlement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Conteo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntitlementActInf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementCambioSP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementConst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementModif</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementRetiros</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementRever</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>ProcessInstanceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
